<html>
<head>
    <title>
        First Project
    </title>
</head>
<body>
<h1>Hey i am Django server</h1>
<p> This data is comming from the django server</p>
<hr>
<h2 style="color:red">the page ends here</h2>
<p>just a new template is here
    Reusable Apps: Django encourages the creation of reusable apps, allowing developers to share and reuse code across
    projects. The Django community provides a variety of third-party apps that can be easily integrated into Django
    projects.

    REST Framework: While Django itself is not specifically designed for building RESTful APIs, the Django REST
    framework is a powerful and flexible toolkit for building Web APIs. It can be integrated seamlessly with Django
    projects.
</p>
</body>
</html>