{% extends 'v1/base.html' %}

{% block start %}

<div class="container mt-5 card p-3 shadow-lg">
    <h2 class="mb-4">Login</h2>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    <form method="post" action="{% url 'custom_login' %}">
        {% csrf_token %}

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" name="email" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Login</button>
        <p>Dont have a account? <a href="/app/v1/register/">Register</a></p>
    </form>
</div>

{% endblock %}
