{% extends 'v1/base.html' %}

{% block start %}
<div class="container mt-5">
    {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    <h2 class="text-info">View Profile</h2>
    <div class="mb-3">
        <strong>Bio:</strong> {{ profile.bio }}
    </div>
    <div class="mb-3">
        <strong>Address:</strong> {{ profile.address }}
    </div>
    {% if profile.image %}
        <img src="{{ profile.image.url }}" class="img-fluid" alt="Profile Image">
    {% else %}
        <p>No profile image available</p>
    {% endif %}
    <div class="mt-3">
        {% if request.user != profile.user %}
        {% if profile.user in request.user.userprofile.followers.all %}
        <a href="{% url 'unfollow_profile' profile.user.username %}" class="btn btn-danger">Unfollow</a>
        {% else %}
        <a href="{% url 'follow_profile' profile.user.username %}" class="btn btn-success">Follow</a>
        {% endif %}
        {% endif %}
        <a href="{% url 'edit_profile' %}" class="btn btn-warning">Edit Profile</a>
    </div>
</div>
{% endblock %}
