{% extends 'v1/base.html' %}

{% block start %}
        <h2>Lets Build Together</h2>

        {% if user.is_authenticated %}
        <p>Welcome, {{ user.email }}!</p>
        {% else %}
        <p>You are not logged in.</p>
        {% endif %}
<div class="row">
    {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    <div class="col-md-3">
        <div class="list-group">
            {% if user_profile %}
            <h5>Explore Users</h5>
            <a href="{% url 'users_list' %}" class="btn btn-secondary">View Users</a>
            {% endif %}
        </div>

    </div>

    <div class="col-md-9">
        <div class="mb-3">
            {% if user_profile %}
            <h1>Create Post</h1>
            <form method="post" enctype="multipart/form-data" action="{% url 'create_post' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="post_explanation">Post Explanation:</label>
                    <textarea class="form-control" id="post_explanation" name="post_explanation" rows="3"
                              required></textarea>
                </div>
                <div class="form-group">
                    <label for="post_image">Post Image (optixonal):</label>
                    <input type="file" class="form-control-file" id="post_image" name="post_image" accept="image/*">
                </div>

                <button type="submit" class="btn btn-primary">Create Post</button>
            </form>
            {% else %}
            <h1>Welcome To Social Media Site lets explore</h1>
            <p>Crete Your profile first</p>
            <a href="{% url 'create_profile' %}" class="btn btn-primary">Create Profile</a>
         {% endif %}
        </div>
    </div>

</div>
{% endblock %}
