{% extends 'v1/base.html' %}

{% block start %}
<div class="row">
    <div class="col-md-3">
        <!-- Sidebar -->
        <div class="list-group">
            {% if user_profile %}
            <a href="{% url 'view_profile' %}">View Profile</a>
            {% else %}
            <a href="{% url 'create_profile' %}">Create Profile</a>
            {% endif %}
            <!-- Add more sidebar links as needed -->
        </div>
    </div>


    <div class="col-md-9">
        <!-- Main Content -->
        <h1>Hi</h1>

        {% if user.is_authenticated %}
        <p>Welcome, {{ user.email }}!</p>
        {% else %}
        <p>You are not logged in.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
