{% extends 'v1/base.html' %}

{% block start %}
<div class="row">
    <div class="col-md-3">
        <!-- Sidebar -->
        <div class="list-group">
            {% if user_profile %}
            <p></p>
            {% else %}
            <a href="{% url 'create_profile' %}"  class="btn btn-secondary" >Create Profile</a>
            {% endif %}
        </div>

        <h2>Hi</h2>

        {% if user.is_authenticated %}
        <p>Welcome, {{ user.email }}!</p>
        {% else %}
        <p>You are not logged in.</p>
        {% endif %}
    </div>

    <div class="col-md-9">
        <!-- Main Content -->
        <div class="mb-3">
            <h1>Create Post</h1>
            <form method="post" enctype="multipart/form-data" action="{% url 'create_post' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="post_explanation">Post Explanation:</label>
                    <textarea class="form-control" id="post_explanation" name="post_explanation" rows="3"
                              required></textarea>
                </div>
                <div class="form-group">
                    <label for="post_image">Post Image (optixonal):</label>
                    <input type="file" class="form-control-file" id="post_image" name="post_image" accept="image/*">
                </div>

                <button type="submit" class="btn btn-primary">Create Post</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
